{% extends "base.html" %}

{% block pretitle %}Role Change for {{ developer }}{% endblock %}
{% block extra_head %}

{% endblock %}

{% block pagename%}Role Change: {{ developer }}{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'accounts:manage_account' %}">Dashboard</a></li>

            <li class="active">Developer</li>

        </ul>
    </div>

{% endblock %}
{% block content %}


    <div class="container col-lg-8 well">
        <form method="post" action="" xmlns="http://www.w3.org/1999/html">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        {{ form.as_table }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url "accounts:manage_account" %}"><input
                                type="button" class="btn-danger"
                                value="Cancel"/></a>

                        <input class="btn-success btn-lg" type="submit"
                               value="Save"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>

{% endblock %}
