{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}
{% block pagename %}Password Reset{% endblock %}
{% block content %}
    <p>
        {% trans "Your password has been reset!" %}
        {% trans "You may now " %}<a
            href="{{ login_url }}">{% trans "log in" %}</a>.
    </p>
    <p>&nbsp;</p>
    <a href="{{ login_url }}"><input type="button"
                                     class="active btn btn-lg btn-success"
                                     value="{% trans "log in" %}"/></a>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
{% endblock %}


{# This is used by django.contrib.auth #}