{% extends "base.html" %}
{% if get_fmt == "xml" or get_fmt == "json" %}
{{ result }}
{% else %}
{% load i18n %}
{% load staticfiles %}
{% block pretitle %}Welcome to the {% endblock %}
{% block title %}{{ settings.APPLICATION_TITLE }} v1/{{ name }}/{% endblock %}
{% block extra_head %}

{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li class="active">Home</li>
            <li><a href="{% url 'api:home' %}">api</a></li>
            <li><a href="{% url 'api:v1:home' %}">v1</a></li>
            <li class="active">{{ display }}</li>
        </ul>
    </div>
{% endblock %}
{% block pagename %}{{ settings.APPLICATION_TITLE }} | api/v1/{{ name }}{% endblock %}
{% block content %}

       <div class="container-fluid">

                 {% if user.is_authenticated %}
                   <div class="col-md-12">
                       <div class="col-md-12 well">
                           <h4>Debug Call Info:</h4>
                           {{ settings.URL_PRE }}{{ settings.DOMAIN }}{{ request.get_full_path }}<br>
                           {{ pass_to }}
                           {% comment %}Get: {{ '{' }}{{ get.QueryDict }}{{ '}' }}
                           Args: {{ args }} | KWargs: {{ kwargs }}{% endcomment %}
                       </div>

                        <div class="col-md-12 well">
                            <h4>User displayable content: [{% if get_fmt %}{{ get_fmt|capfirst }}{% else %}{{ in_fmt|upper }}{% endif %}]</h4>
                            <p>&nbsp;</p>
                            {% if text %}<p>{{ text|safe }}</p>{% endif %}
                            {% if error %}<p>{{ error }}</p>{% endif %}
                            <p>&nbsp;</p>
                        </div>

                   </div>
                   <div class="col-md-12 well">
                       <pre>
                           {{ result }}
                       </pre>
                   </div>

                {% else %}
                {% endif %}

        </div>



{% endblock %}

{% comment %}
Txn =  {'name'  :"EOB",
            'dsply':'Patient',
            'server': settings.FHIR_SERVER,
            'locn'  : "/baseDstu2/ExplanationOfBenefit/",
            'tmplt' : 'v1api/eob.html',
             }

context = {'display': Txn['dsply'],
               'name'   : Txn['name'],
               'key'    : key,
               'output' : "test output ",
               'args'   : args,
               'kwargs' : kwargs,
               'get'    : request.GET,
               'pass_to': pass_to,
               'result' : convert,
               }
{% endcomment %}
{% endif %}