<div class="container-fluid">

            <div class="col-md-8">
                {% if user.is_authenticated %}
                    <a href="{% url 'accounts:manage_account' %}"
                       class="btn btn-primary btn-large">
                        <i class="fa fa-lock fa-lg"></i>  Manage Your {% if organization != None %}
                        {{ organization }} {% endif %}Account</a>

                {% else %}
                    <h4>Login</h4>
                    <div class="col-lg-4">

                        <a href="{% url "accounts:sms_code" %}?next=/">
                            <i class="fa fa-unlock fa-2x" style="color:green"></i>
                            <input type="button"
                                   class="active btn btn-large btn-success"
                                   value="Login"/></a>
                    </div>
                    <div class="col-lg-4">
                        <a href="{% url "register" %}?next=/">
                            <i class="fa fa-plus-square fa-2x" style="color:green"></i>
                            <input type="button"
                                   class="active btn btn-large btn-success"
                                   value="Register"/></a>
                    </div>
                    <div class="col-lg-4">
                        <p style="vertical-align:bottom;">
                           or <a href="{% url "register_developer" %}">Sign up as a developer</a>
                        </p>
                    </div>
                {% endif %}
            </div>
</div>