{% load i18n %}
{% load staticfiles %}

<div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed-top">
{% comment %}
Add a color to the NavBar if we are on localhost:8000
Just to avoid confusion...
{% endcomment %}
        <ul class="nav navbar-nav">
            <li>
                <a href="{% if request.session.auth_device %}{% url 'api:home' %}
                {% else %}{% url 'home' %}{% endif %}" contenteditable="false"
                   class="navbar-brand">
                    <img src="{% static 'img/layout/blue-button-trim.png' %}"
                     style="vertical-align:middle;display:inline-block;max-height:100%;max-width:100%"
                     alt="{{ settings.APPLICATION_TITLE }}">
                </a>
            </li>
            <li>
                <a class="" href="{% url 'home' %}"
                   contenteditable="false" title="{{ settings.APPLICATION_TITLE }} Home"><i class="fa fa-home fa-lg"></i></a>
            </li>
            {% if user.is_authenticated and request.session.auth_master %}
            <li>
                <a class="" href="{% url 'home' %}"
                   contenteditable="false" title="{{ settings.APPLICATION_TITLE }} Home">{{ settings.APPLICATION_TITLE }}<br>Home
                </a>
            </li>
            <li>
                <a href="{% url 'api:home' %}" class=""
                   contenteditable="false" title="BlueButton API Access"><i class="fa fa-bolt"></i> API
                </a>
            </li>
            {% comment %}<li>
                {# DONE: create /accounts/app_management - redirect to accounts:manage_account #}
                <a href="{% url 'accounts:manage_account' %}">
                    <i class="fa fa-cogs"></i>{% trans " My Dashboard" %}</a>
            </li>{% endcomment %}
            {% else %}
                {% comment %}<li>
                    <a href="{% url 'accounts:sms_code' %}?next=/" title="Login"><i class="fa fa-sign-in"></i> {% trans "Login" %}</a>
                </li>{% endcomment %}
                <li>
                    <a href="{% url 'register' %}" title="Register"><i class="fa fa-check-square-o"></i> {% trans "Register" %}</a>
                </li>
            {% endif %}
                <li class="dropdown" id="menu1">
                    <a href="#" class="btn dropdown-toggle"
                   data-toggle="dropdown"><i class="fa fa-info-circle"></i> Learn More<span
                        class="caret"></span></a>
                    <ul class="dropdown-menu" id="menu1" role="menu">
                        {% comment %}<li>
                            <a href="{% url 'accounts:learn_0' %}" title="Learn More">{% trans "Learn More" %}</a>
                        </li>{% endcomment %}
                        <li>
                            <a href="{% url 'base:about' %}" title="About {{ settings.APPLICATION_TITLE }}">{% trans "About" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'base:new_stuff' %}">{% trans "What's New" %}</a>
                        </li>
                    </ul>
                </li>

{#            <li class="divider-vertical"></li>#}

            <li class="dropdown" id="menu2">
                <a href="#" class="btn dropdown-toggle"
                   data-toggle="dropdown"><i class="fa fa-question-circle"></i> Help<span
                        class="caret"></span></a>
                <ul class="dropdown-menu" id="menu2" role="menu">
                    {# TODO: Create /accounts/documentation page  #}
                    <li><a href="/api/documentation" class="">Documentation</a>
                    </li>
                    {# TODO: /accounts/support page  #}
                    <li><a href="/support" class="">Support</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'api:home' %}" class=""
                                contenteditable="false">API
                        </a>
                    </li>
                    <li><a href="{% url "appmgmt:developer_intro" %}"
                           class="" contenteditable="false">Developer Intro</a>
                    </li>
                    {# DONE: /admin access page  #}
                    {% if user.is_admin and request.session.auth_master%}
                        <li class="divider"></li>
                        <li><a href="/admin" class="">Admin</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {%  if user.is_authenticated %}
                {% if request.session.auth_master %}
                    <li>
                        <a href="{%  url 'accounts:manage_account' %}" title="My Account Dashboard">
                            [<i class="fa fa-cogs"></i> {{ user.first_name }} {{ user.last_name }} ]</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{%  url 'accounts:account_access' %}">
                        [<i class="fa fa-cogs"></i> {{ user.first_name }} {{ user.last_name }} {% if request.session.auth_device %}
                            <br>via {{ request.session.auth_device }} {% endif %}]</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url "accounts:logout" %}?next=/{% if request.session.auth_device %}api/{% endif %}" title="Logout">
                        {% trans "Logout" %} <i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url "accounts:sms_code" %}" title="Login">
                        {% trans "Login" %} <i class="fa fa-sign-in"></i>&nbsp;&nbsp;&nbsp;</a>
                </li>
            {% endif %}
        </ul>

    </div>
</div>

