{% load i18n %}
{% load staticfiles %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
{% comment %}
Add a color to the NavBar if we are on localhost:8000
Just to avoid confusion...
{% endcomment %}
         <!-- Brand and toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{% url 'home' %}" contenteditable="false"
            class="navbar-brand"
            style="vertical-align:top;max-height:100%;max-width:100%">
            <img src="{% static 'img/layout/blue-button-trim.png' %}"
                 style="vertical-align:text-top;max-height:100%;max-width:100%"></a>
        <a href="{% url 'home' %}" contenteditable="false"
           class="navbar-brand"
           alt="{{ settings.APPLICATION_TITLE }}">
                <strong>{{ settings.APPLICATION_TITLE }}</strong>
        </a>

        <ul class="nav navbar-nav">

            {% comment %}
            <li>
                    <a href="{% url 'accounts:sms_code' %}?next=/" title="Login"><i class="fa fa-sign-in"></i> {% trans "Login" %}</a>
            </li>
            {% endcomment %}
            {% if not user.is_authenticated %}
                <li>
                    <a href="{% url 'register' %}" title="Register"><i class="fa fa-check-square-o"></i> {% trans "Register" %}</a>
                </li>
            {% endif %}
            <li class="dropdown" id="menu1">
                <a href="#" class="btn dropdown-toggle"
                   data-toggle="dropdown"><i class="fa fa-info-circle"></i> Learn More<span
                        class="caret"></span></a>
                <ul class="dropdown-menu" id="menu1" role="menu">
                    {% comment %}
                    <li>
                           <a href="{% url 'accounts:learn_0' %}" title="Learn More">{% trans "Learn More" %}</a>
                    </li>
                    {% endcomment %}
                    <li>
                        <a href="{% url 'base:about' %}" title="About {{ settings.APPLICATION_TITLE }}">{% trans "About" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'base:new_stuff' %}">{% trans "What's New" %}</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown" id="menu2">
                <a href="#" class="btn dropdown-toggle"
                   data-toggle="dropdown"><i class="fa fa-question-circle"></i> Help<span
                        class="caret"></span></a>
                <ul class="dropdown-menu" id="menu2" role="menu">
                    {# TODO: Create /accounts/documentation page  #}
                    <li><a href="/api/documentation" class="">Documentation</a>
                    </li>
                    {# TODO: /accounts/support page  #}
                    <li><a href="/support" class="">Support</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'api:home' %}" class=""
                                contenteditable="false">API
                        </a>
                    </li>
                    <li><a href="{% url "appmgmt:developer_intro" %}"
                           class="" contenteditable="false">Developer Intro</a>
                    </li>
                    {# DONE: /admin access page  #}
                    {% if user.is_admin and request.session.auth_master%}
                        <li class="divider"></li>
                        <li><a href="/admin" class="">Admin</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>

        <div class="nav navbar-nav navbar-right align-right">
                <ul class="nav navbar-nav navbar-right">
                    {% include "include/top-nav-user-dropdown.html" %}

                    {% include 'include/top-nav-login-logout.html' %}
                </ul>

            </div>
    </div>
    </div>
</nav>
