 "extension" : [
    {% for key, value in profile.fhir_extension.items %}{% if key == "NPI_Provider_Record" %} {
        "{{ key }}" : {
     {% for k, v in value.items %}"{{ k }}" : "{{ v }}"{% if forloop.last %}{% else %},{% endif %}
     {% endfor %} } {% if forloop.last %}{% else %}, {% endif %}{% else %}
     {  "{{ key }}" : "{{ value }}" } {% if forloop.last %}{% else %},{% endif %}{% endif %}
     {% endfor %}]
{% comment %}
JSON: http://hl7-fhir.github.io/datatypes.html#HumanName
{
  "resourceType" : "Address",
  // from Element: extension
  "use" : "<code>", // home | work | temp | old - purpose of this address
  "type" : "<code>", // postal | physical | both
  "text" : "<string>", // Text representation of the address
  "line" : ["<string>"], // Street name, number, direction & P.O. Box etc
  "city" : "<string>", // Name of city, town etc.
  "district" : "<string>", // District name (aka county)
  "state" : "<string>", // Sub-unit of country (abreviations ok)
  "postalCode" : "<string>", // Postal code for area
  "country" : "<string>", // Country (can be ISO 3166 3 letter code)
  "period" : { Period } // Time period when address was/is in use
}
Period:
{
  // from Element: extension
  "start" : "<dateTime>", // C? Starting time with inclusive boundary
  "end" : "<dateTime>" // C? End time with inclusive boundary, if not ongoing
}

{% endcomment %}
{% comment %}

XML:
<[name] xmlns="http://hl7.org/fhir"> doco
 <!-- from Element: extension -->
 <use value="[code]"/><!-- 0..1 home | work | temp | old - purpose of this address -->
 <type value="[code]"/><!-- 0..1 postal | physical | both -->
 <text value="[string]"/><!-- 0..1 Text representation of the address -->
 <line value="[string]"/><!-- 0..* Street name, number, direction & P.O. Box etc -->
 <city value="[string]"/><!-- 0..1 Name of city, town etc. -->
 <district value="[string]"/><!-- 0..1 District name (aka county) -->
 <state value="[string]"/><!-- 0..1 Sub-unit of country (abreviations ok) -->
 <postalCode value="[string]"/><!-- 0..1 Postal code for area -->
 <country value="[string]"/><!-- 0..1 Country (can be ISO 3166 3 letter code) -->
 <period><!-- 0..1 Period Time period when address was/is in use --></period>
</[name]>
Period:
<[name] xmlns="http://hl7.org/fhir">
 <!-- from Element: extension -->
 <start value="[dateTime]"/><!-- ?? 0..1 Starting time with inclusive boundary -->
 <end value="[dateTime]"/><!-- ?? 0..1 End time with inclusive boundary, if not ongoing -->
</[name]>

{% endcomment %}