{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load admin_static bootstrapped_goodies_tags %}

{% load i18n %}
]
{% block title %}{{ APPLICATION_TITLE }} | {{ title }} |
    {% trans 'Django site admin' %}
{% render_with_template_if_exist "admin/admin_title.html" title %} | {{ site_title|default:_('Django site admin') }}
{% endblock %}
{% block extrahead %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ APPLICATION_TITLE }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="{% static 'theme/readable/bootstrap.css' %}">

    <link href="fonts.googleapis.com/css?family=Open+Sans:300,400,600"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}"
          rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'img/layout/favicon.png' %}"
          type="image/x-icon">

{% endblock %}


{% block nav-global %}{% endblock %}

{% block content_title %}
    HELLO World
    <a href="{% url 'apps.home' %}"><img
            src="{% static 'img/layout/favicon.png' %}"
            width="60">{{ APPLICATION_TITLE }}</a>
    <a href="{% url 'admin:index' %}">{% trans 'Site Administration' %}site</a>

{% endblock %}
{% block branding %}
<a class="navbar-brand" href="{% url 'admin:index' %}">{% if site_header %}{{ site_header }}{% else %}{% render_with_template_if_exist "admin/admin_title.html" _('Django administration') %}{% endif %}</a>
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

<!-- Add scripts at end of page for faster loading -->

<!-- Optional: Include the jQuery library -->
<script src="{% static 'js/jquery-1.8.1.min.js' %}"></script>
<!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>




