{% extends "base.html" %}
{% block pretitle %}Manage Your Account{% endblock %}
{% block extra_head %}
{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="active">My Dashboard</li>
        </ul>
    </div>
{% endblock %}
{% block pagename %}Dashboard{% endblock %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 well">
                    {% include 'accounts/include/personal_profile.html' %}
                    {% comment %}{% include 'secretqa/security_profile.html' %}{% endcomment %}
                </div>
            </div>
        </div>
    </div>



    <div class="row clearfix">

        <div class="col-md-12 column">
            <!--- Template is in bbonfhiruser/templates/developer --->

        </div>
    </div>


{% endblock %}
