<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
          rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
          rel="stylesheet" type="text/css">
</head>

<body>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Keep your Information Safe</h1>

                <p class="lead text-justify">Medicare takes the protection
                    of your health information very seriously.
                    <br>
                    <br>Help us to protect your information by providing us
                    with information to
                    protect your account:
                    <br>
                    <br>- Secret &nbsp;Questions and Answers
                    <br>- Your mobile phone number (if you have one)
                    <br>
                    <br>We will use your secret questions and their answers
                    to challenge you when
                    you connect a new Sub-account to BlueButton 2.0.
                    <br>
                    <br>If you provide a mobile phone number and the
                    cellphone carrier name you
                    can choose to have a pin code sent to your cellphone when
                    you connect to the BlueButton 2.0 service.</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Add your Secret Questions and Answers to Protect Your
                    Account</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>1. Secret</h2>

                <p>Provide your first secret question and the answer to
                    that question.&nbsp;
                    <br>
                    <br>Use something that only you, or those you trust,&nbsp;might
                    know.
                    <br>
                    <br>For example: What was the name of your first pet?
                </p>

                <form role="form">
                    <div class="form-group" id="Q1">
                        <label class="control-label"
                               for="exampleInputEmail1">Question</label>
                        <input class="form-control" id="exampleInputEmail1"
                               placeholder="What was the name of your first pet?"
                               type="text">
                    </div>
                    <div class="form-group" id="A1">
                        <label class="control-label"
                               for="exampleInputPassword1">Answer</label>
                        <input class="form-control"
                               id="exampleInputPassword1"
                               placeholder="My secret Answer"
                               type="text">
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h2>2. Secret</h2>

                <p>Provide your second secret question and the answer to
                    that question.&nbsp;
                    <br>
                    <br>Use something that only you, or those you&nbsp;trust,
                    might know.&nbsp;
                    <br>
                    <br>For example: What was the color of your favorite
                    car?
                    <br>
                    <br>
                </p>

                <form role="form">
                    <div class="form-group" id="Q2">
                        <label class="control-label"
                               for="exampleInputEmail1">Question</label>
                        <input class="form-control" id="exampleInputEmail1"
                               placeholder="What was the color of your favorite car?"
                               type="text">
                    </div>
                    <div class="form-group" id="A2">
                        <label class="control-label"
                               for="exampleInputPassword1">Answer</label>
                        <input class="form-control"
                               id="exampleInputPassword1"
                               placeholder="My secret Answer"
                               type="text">
                    </div>
                </form>
                <p></p>
            </div>
            <div class="col-md-4">
                <h2>3. Secret</h2>

                <p>Provide your third secret question and the answer to
                    that question.&nbsp;
                    <br>
                    <br>Use something that only you, or those you trust,&nbsp;might
                    know. &nbsp;
                    <br>
                    <br>For example: &nbsp;Where is your favorite vacation
                    place?
                    <br>
                    <br>&nbsp;
                    <span style="font-weight: bold; line-height: 1.42857143;">Question</span>
                </p>

                <form role="form">
                    <div class="form-group" id="Q3">
                        <input class="form-control" id="exampleInputEmail1"
                               placeholder="Where is your favorite vacation place?"
                               type="text">
                    </div>
                    <div class="form-group" id="A3">
                        <label class="control-label"
                               for="exampleInputPassword1">Answer</label>
                        <input class="form-control"
                               id="exampleInputPassword1"
                               placeholder="My secret Answer"
                               type="text">
                    </div>
                    <button type="submit" class="btn btn-danger btn-lg"
                            data-toggle="modal">Reset
                    </button>
                    <button type="submit"
                            class="active btn btn-lg btn-success"
                            data-toggle="modal">Save
                    </button>
                </form>
                <p></p>

                <p></p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Add Your Mobile Phone to Your Security Profile</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>You don't need a fancy smartphone.&nbsp;
                    <br>
                    <br>Even the simplest mobile phone can receive a text
                    message. Tell us your
                    phone number and the mobile phone company you use and
                    you can then choose&nbsp;to
                    have a 4-digit pin code sent to that phone when you
                    login.</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label for="inputEmail3"
                                       class="control-label">Phone</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"
                                       id="inputEmail3"
                                       placeholder="Mobile Phone Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label for="inputPassword3"
                                       class="control-label">Mobile Phone
                                    Company</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"
                                       id="inputPassword3"
                                       placeholder="Carrier">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10 col-md-1">
                                <button type="submit"
                                        class="active btn btn-lg btn-success"
                                        data-toggle="modal">Sign in
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <a class="active btn btn-primary" id="Verify_Phone"
                       data-toggle="modal">Send Verification Code</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cover">
    <div class="cover-image"></div>
</div>
</body>

</html>