{% extends "base_minimal.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
    <div class="block-center">
        {% if not error %}

                <h3 class="block-center-heading">
                    {% if application.logo %}<img src="{{ MEDIA_URL }}{{ application.logo }}"
                     width="50" height="50">{% endif %}
                    {% trans "Authorize" %} {{ application.name }}?</h3>
            <div class="well col-lg-12">
                <p>{{ application.about }}</p>
                    <div class="well col-lg-6">
                        {% if application.privacy_url %}<a href="{{ application.support_url }}" target="_blank">
                        {{ application.name }} support page</a>
                        {% endif %}
                    </div>
                    <div class="well col-lg-6">
                        {% if application.privacy_url %}<a href="{{ application.privacy_url }}" target="_blank">
                        {{ application.name }} privacy page</a>
                        {% endif %}
                    </div>
            </div>
            <form id="authorizationForm" method="post">
                {% csrf_token %}

                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% endif %}
                {% endfor %}

                <p>{{ application.name }}
                    requires that you, {{ request.user }}, give the following permissions for the use of your Blue Button data:</p>
                <ul>
                    {% for scope in scopes_descriptions %}
                        <div style="font-size:1.3em"><i class="fa fa-check-square-o"></i> {{ scope }}</div>
                    {% endfor %}
                </ul>

                {{ form.errors }}
                {{ form.non_field_errors }}

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-large"
                               value="Cancel"/>
                        <input type="submit"
                               class="btn btn-large btn-primary"
                               name="allow" value="Authorize"/>
                    </div>
                </div>
            </form>

        {% else %}
            <h2>Error: {{ error.error }}</h2>
            <p>{{ error.description }}</p>
        {% endif %}
    </div>
{% endblock %}