{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}

{% block breadcrumbs %}
       <div class="container">
        <ul class="breadcrumb">
            <li class="active">Home</li>
        </ul>
    </div>
{% endblock %}
{% block pagename %}Welcome to BlueButton On FHIR{% endblock %}
{% block content %}


    <div class="hero-unit">

        <div class="container-fluid">
                <p>
                {% include "include/login_register.html" %}
                </p>
            <div class="col-md-8">
                <p>
                    BlueButton 2.0 provides you, our Medicare Beneficiaries,
                    with the ability to access your Medicare information with
                    greater flexibility and enhanced security.
                </p>
                <p>
                    Some of the new features include:
                    <li>
                        An advanced interface that provides the ability to
                        search your claims information. You no longer have
                        to download a large file of claims information and
                        manually sift through it to find the information
                        you need.
                    </li>
                    <li>
                        Choose to use your mobile phone to receive a
                        temporary pin code that you enter as part of your
                        account login.
                    </li>
                    <li>
                        Add your own secret questions and answers that we
                        can use as login challenges when we detect that
                        your account is being accessed from a new
                        location or device.
                    </li>
                </p>

                <h4>Are you a Software Developer?</h4>
                    <p>
                        Check out the
                        <a href="{% url "appmgmt:developer_intro" %}">
                            Introduction for Developers</a> and
                        learn how you can enable Medicare Beneficiaries to connect their
                        data to your application, service or research program.
                    </p>
            </div>

            <div class="col-md-4"><img
                    src="{% static 'img/layout/blue-button.png' %}"
                    style="height:300px">
            </div>

        </div>
    </div>


{% endblock %}
