{% load i18n %}

{{ user.first_name|capfirst }} {{user.last_name|capfirst }}
{% if msg %}{{ msg }}{% else %}

<p>This is a courtesy message from <b>{{ settings.APPLICATION_TITLE }}</b> to inform you
that your account, {{ user }} with the email address ({{ email_mask }}) just connected to
our service and gave permission for one of your sub-accounts ( {{ device|safe }}) to connect.
</p>

If it is not you giving permission you may want to log in and review your account at
<p style="font-size:5;">
    <a href="{{ settings.URL_PRE }}{{ site.domain }}">
        {{ site.name }}.</a>
</p>

Sincerely,

<p style="font-style:italic">

Your Support Team at {{ settings.APPLICATION_TITLE }}

{% endif %}


{% comment %}
**accounts/messages/account_activity_email.html**

Used to generate the text body of the account activity email. Should display a
link the user can click to check their account. This template has the
following context:

``site``
    An object representing the site on which the user registered;
    depending on whether ``django.contrib.sites`` is installed, this
    may be an instance of either ``django.contrib.sites.models.Site``
    (if the sites application is installed) or
    ``django.contrib.sites.models.RequestSite`` (if not). Consult `the
    documentation for the Django sites framework
    <http://docs.djangoproject.com/en/dev/ref/contrib/sites/>`_ for
    details regarding these objects' interfaces.

``user``
    The new user account

``request``
    ``HttpRequest`` instance for better flexibility.
    For example it can be used to compute absolute register URL:

        http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{% url 'registration_activate' activation_key %}

    or when using Django >= 1.7:

        {{ request.scheme }}://{{ request.get_host }}{% url 'registration_activate' activation_key %}
{% endcomment %}