{% extends "base.html" %}
{% block pretitle %}Developer Registration{% endblock %}
{% block extra_head %}
    <style>
        div.terms {
            width: 800px;
            height: 400px;
            border: 1px solid #ccc;
            background: #f2f2f2;
            padding: 6px;
            overflow: scroll;
        }

        div.terms p,
        div.terms li {
            font: normal 11px/15px arial;
            color: #333;
        }

        div.terms h3 {
            font: bold 14px/19px arial;
            color: #000;
        }

        div.terms h4 {
            font: bold 12px/17px arial;
            color: #000;
        }

        div.terms strong {
            color: #000;
        }
    </style>

{% endblock %}

{% block pagename %}Terms of Use{% endblock %}
{% block content %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">

                <div class="jumbotron well">
                    <p>Signing up for a Developer Account is a 3 step
                        process:</p>
                    <ul>
                        <li>Agree to the terms of service and our Developer
                            Code of Honor
                        </li>
                        <li>by creating an account name and password.</li>
                        <li>Confirm your email address</li>
                    </ul>
                    <p> These first two steps give you access to the
                        BlueButtonOnFHIR test platform. There is no live
                        production data
                        on the test platform. The data in the test platform
                        can change at any time.</p>

                    <p> To obtain a key that enables you to let Medicare
                        Beneficiaries connect their Medicare information to
                        your production application requires you to go
                        through two more steps:</p>
                    <ul>
                        <li>Verify your identity</li>
                        <li>Verify that you have the authority to bind the
                            organization you represent to our terms of use.
                        </li>
                    </ul>
                    <h3>
                        Step 1: Registering for a Developer Account
                        requires you to agree to the terms of service shown
                        below.
                    </h3>
                </div>
                <div class="terms">

                    <!--- Template is in bbonfhiruser/templates/accounts --->
                    {% include "developer/../../accounts/templates/accounts/terms_of_use.html" %}

                </div>
                <h3>
                    Step 2: Agree to the Terms of Use by creating your
                    account and clicking the <br/>"I agree to the terms"
                    button.
                </h3>

                {# DONE: create /accounts/create_account page to handle form  #}
                <form class="form-horizontal" role="form" action="#"
                      method="post">
                    <div class="form-group">
                        <label for="inputEmail"
                               class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control"
                                   id="inputEmail"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword1"
                               class="col-sm-2 control-label">Password</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control"
                                   id="inputPassword1"/>
                        </div>
                        <label for="inputPassword2"
                               class="col-sm-2 control-label">Confirm
                            Password</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control"
                                   id="inputPassword2"/>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label><input type="checkbox"/> Remember me</label>
                            </div>
                        </div>
                        {# TODO: Format Submit/cancel button size with Bootstrap #}
                        <div class="row clearfix">
                            <div class="col-md-6 column">
                                <button type="submit"
                                        class="btn btn-lg btn-block btn-success">
                                    I Agree to the terms
                                </button>
                            </div>
                            <div class="col-md-6 column">
                                <a href="/developer/agree_to_terms">
                                    <button type="button"
                                            class="btn btn-lg btn-block btn-danger">
                                        Cancel
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}
